<!-- page with 2 parts left side the details of the servive provider
     the right side are the times that you can book a meeting-->
<div class="row my-2">
    <!-- Left side - service provider details -->
    <div class="col-lg-6">
        <div class="container">
            <div class="card change-cursor">
                <img class="card-img-top" ng-src="{{serviceProvider.imageURL}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">
                        {{serviceProvider.getFullName()}}
                    </h4>
                    <label>Profession :</label>
                    <p class="card-text">{{serviceProvider.occupation}}</p>

                    <!--Facebook-->
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <!--Twitter-->
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Right side - times available to book-->
    <div class="col-lg-6">
        <div class="container">
            <h2 class="display-4 text-center">Book Me</h2>
            <hr class="my-3">
            <form id="contact-form" method="post" role="form">
                <div class="messages"></div>

                <div class="controls">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_name">Firstname *</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required"
                                    data-error="Firstname is required." ng-model="customerFirstName">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_lastname">Lastname *</label>
                                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" ng-model="customerLastName"
                                    data-error="Lastname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_email">Email *</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" ng-model="customerEmail"
                                    data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_phone">Phone *</label>
                                <input id="form_phone" type="tel" name="phone" required="required" class="form-control" ng-model="customerPhone" placeholder="Please enter your phone *">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_address">Address *</label>
                                <input id="form_address" type="tel" name="address" required="required" class="form-control" ng-model="customerAddress" placeholder="Please enter your address *">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_message">Message</label>
                                <textarea id="form_message" name="message" class="form-control" placeholder="Message for me" rows="4" 
                                    data-error="Please,leave us a message." ng-model="customerMessage"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="button" class="btn btn-success btn-send" value="Book!"ng-model="appointment" ng-click="createAppointmentSummery()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted">
                                <strong>*</strong> These fields are required.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>