<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-3">Fluid jumbo heading</h1>
                    <p class="lead">Jumbo helper text</p>
                    <hr class="my-2">
                    <p>More info</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" ng-click="book()" role="button">Book A Meeting</a>
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="../../images/landing-bg.jpeg" class="img-fluid rounded" alt="landing-page-background-image.jpeg">
                </div>
            </div>
        </div>
    </div>
</div>