<div class="container-fluid mt-2 max-view bg-pallete-2018-blue">

    <div class="container py-2">
        <h1 class="display-4">Select a proffetional and book a meeting...</h1>
        <hr class="my-2">
    
        <form class="profession-search-form my-3">
    
            <!-- <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display">
                <span md-highlight-text="searchText">{{item.display}}</span>
            </md-autocomplete> -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="search profession" ng-model="queryProfession" ng-change="searchProfessionChange()" >
                <div class="search-results list-group mt-2" ng-show="professionResults.length > 0" >
                    <a  ng-click="selectProfession(profession)" class="list-group-item list-group-item-action" ng-repeat="profession in professionResults | filter:filterProfession">
                        <span ng-bind-html="highlight(profession, queryProfession)"></span>
                    </a>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-warning mx-1" ng-repeat="occupation in professionResults" ng-click="selectProfession(occupation)" ng-show="professionResults.length > 0">{{occupation}}</button>
            </div>
        </div>
    
        <div class="container-fluid my-2">
            <hr class="my-2">
            <div class="row" ng-show="serviceProviders.length > 0">
                <div class="col-md-3 my2" ng-repeat="serviceProvider in serviceProviders | filter:filterSelectedProfession">
                    <div class="card change-cursor" ng-click="openDetails(serviceProvider)">
                        <img class="card-img-top" ng-src="{{serviceProvider.getImage()}}" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{serviceProvider.getFullName()}}
                            </h4>
                            <label>Profession :</label>
                            <p class="card-text">{{serviceProvider.occupation}}</p>
    
                            <!--Facebook-->
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <!--Twitter-->
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>