<!-- <input type="file" fileread="uploadedFile" />
<button class="btn btn-primary" ng-click="pressed()">Press Me</button>    -->

<div class="container-fluid sign-up-container">
    <div class="signup-form pt-4">
        <form class="mt-3" method="post" name="registerForm" ng-submit="register(registerForm.$valid)">
            <h2>Register</h2>
            <p class="hint-text">Create your account. It's free and only takes a minute.</p>
            <div class="form-group">
                <div class="row mx-auto">
                    <div class="col-xs-6 ">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name" ng-required=true ng-model="firstName">
                    </div>
                    <div class="col-xs-6 ml-auto">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name" ng-required=true ng-model="lastName">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="occupation" class="form-control" name="occupation" placeholder="Occupation" ng-required=true ng-model="queryProfession"
                    ng-change="searchProfessionChange()">
                <div class="search-results list-group mt-2" ng-show="professionResults.length > 0">
                    <a ng-click="selectProfession(profession)" class="list-group-item list-group-item-action" ng-repeat="profession in professionResults | filter:filterProfession">
                        <span ng-bind-html="highlight(profession, queryProfession)"></span>
                    </a>
                </div>
            </div>
            <div class="form-group custom-file input-img" novalidate>
                <!-- <article class="border rounded py-1 pl-2 bg-light">Pick an image-file: -->
                    <input class="custom-file-input" type="file" accept="image/*" single fileread="uploadedFile" id="customFile" name="myImage"  />
                    <label class="custom-file-label" for="customFile">Select Image...</label>
                <!-- </article> -->
            </div>
            <!-- <div class="form-group custom-file input-img">
                <input type="file" class="custom-file-input my-file-input" ng-model="editItem._attachments_uri.image" ng-change="showImgNameP()" accept="image/*" app-filereader id="customFile" name="myImage"  required>
                <label class="custom-file-label" for="customFile">{{imgTxtP}}</label>
            </div> -->
            <div class="form-group">
                <input type="tel" class="form-control" name="phone" placeholder="Phone Number" ng-required=true ng-model="phoneNumber">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" ng-required=true ng-model="email">
            </div>
            <div class="form-group">
                <!-- show password as type="password" -->
                <div ng-if="!showPassword" class="form-group has-feedback">                   
                    <div class="input-group">
                        <input type="password" ng-model="password" class="form-control" placeholder="Password...">
                        <span class="border bg-light">
                            <i class="fa fa-eye form-control-feedback" ng-click="toggleShowPassword()" style="cursor: pointer; pointer-events: all;"></i>
                        </span>
                    </div>

                </div>
                <!-- show password as type="text" -->
                <div ng-if="showPassword" class="form-group has-feedback">                    
                    <div class="input-group">
                        <input type="text" ng-model="password" class="form-control" placeholder="Password...">
                        <span class="border bg-light">
                            <i class="fa fa-eye-slash form-control-feedback" ng-click="toggleShowPassword()" style="cursor: pointer; pointer-events: all;"></i>
                        </span>
                    </div>
                </div>
            </div>            
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-required=true> I accept the
                    <a href="#">Terms of Use</a> &amp;
                    <a href="#">Privacy Policy</a>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>                
            </div>
        </form>
        <div class="text-center">Already have an account?
            <a href="#">Sign in</a>
        </div>
    </div>
</div>