<nav class="navbar navbar-expand-lg navbar-light navbar-shadow">
    <a class="navbar-brand" ng-href="#!/">BookMeUp</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/book">Book
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/signin">SignIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/register">Register</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">           
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/contact">Contact</a>
            </li>
        </ul>      
    </div>
</nav>